:root {
    --bg-dark: #0f0f0f;
    --bg-light: #1a1a1a;
    --text-light: #eaeaea;
    --text-muted: #888;
    --accent: #00bcd4;
    --radius: 12px;
    --max-width: 1100px;
    --transition: all 0.3s ease;
    --font: 'Manrope', sans-serif;
    --glow: 0 0 25px rgba(0, 188, 212, 1);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a:hover, .fill {
    text-shadow: var(--glow);
  }
  
  body {
    font-family: var(--font);
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.6;
  }
  
  a {
    color: var(--accent);
    text-decoration: none;
    transition: var(--transition);
    &:hover {
      opacity: 0.8;
    }
  }
  
 section {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh; /* Ensures large sections fill screen but can expand */
  height: auto; /* Allows taller content */
}

  
  
  