<section class="about">
  <div class="content">
    <div class="text">
      <div class="text-about">
      <h1>ABOUT</h1>
      <h5>harshmodanawal&#64;gmail.com</h5>
    </div>
      <p>
        I’m Harsh Modanwal, a Software Developer and Technical Consultant with a strong focus on building scalable, high-quality applications. I hold a Bachelor’s degree in Information Technology (2023) and currently work remotely with a ARVE AIR. Skilled in Flutter, TypeScript, Angular, Node and MySQL, I’m dedicated to creating efficient, user-centric digital solutions with clean architecture and modern design principles.
      </p>
    </div>
    
  </div>
    <div class="image">
      <img src="assets/images/profile.png" alt="Profile">
    </div>
  </section>
  