.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.2rem 2rem;
    background: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  
    .logo {
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.2rem;
      color: var(--text-light);
    }

    .menu-toggle {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 26px;
      height: 18px;
      cursor: pointer;
      z-index: 20;
  
      .bar {
        height: 3px;
        width: 100%;
        background-color: var(--text-light);
        border-radius: 3px;
        transition: 0.3s;
      }
    }
  
    .nav-links {
      
      text-decoration: none;
      list-style: none;
      display: flex;
      gap: 2rem;
  
      a {
        color: var(--text-muted);
        font-weight: 500;
        transition: var(--transition);
        position: relative;
  
        &.active,
        &:hover {
          background: none !important;
          background-color: transparent !important;  
          text-decoration: none !important;      
          color: var(--accent);
        }
  
        &.active::after {
          content: '';
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 2px;
          background: var(--accent);
          border-radius: 4px;
        }
      }
    }
  
  @media (max-width: 900px) {
    padding: 1rem 1.5rem;

    .menu-toggle {
      display: flex;
    }
    .overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 15;
    }
    .nav-links {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 70vh;
      background: rgba(20, 20, 20, 0.85);
      backdrop-filter: blur(12px);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      transition: right 0.4s ease;
      z-index: 15;

      a {
        font-size: 1.2rem;
        color: #ddd;
      }

      &.open {
        right: 0;
      }
    }

    /* Hamburger to Cross Animation */
    .menu-toggle.active .bar:nth-child(1) {
      transform: rotate(45deg) translateY(7px);
    }

    .menu-toggle.active .bar:nth-child(2) {
      opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
      transform: rotate(-45deg) translateY(-7px);
    }
  }
}