<nav class="navbar">
  <div class="logo">Harsh Modanwal</div>
  <div class="overlay" *ngIf="menuOpen" (click)="closeMenu()"></div>

  <!-- Hamburger Menu Button -->
  <div class="menu-toggle" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <!-- Navigation Links -->
  <div class="nav-links" [class.open]="menuOpen">
    <a href="#home" (click)="closeMenu()">Home</a>
    <a href="#about" (click)="closeMenu()">About</a>
    <a href="#resume" (click)="closeMenu()">Resume</a>
    <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
    <a href="#contact" (click)="closeMenu()">Contact</a>
  </div>
</nav>
