<section class="portfolio" id="portfolio">
    <div class="section-title">
      <h2>Portfolio</h2>
      <p>My Recent Projects</p>
    </div>
  
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/images/portfolio 1.jpeg" alt="Grilli" />
        </div>
        <div class="overlay">
          <h4>Grilli Restaurant</h4>
          <p>HTML • CSS • JS</p>
        </div>
      </div>
  
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/images/portfolio 2.jpeg" alt="Time Tracker App" />
        </div>
        <div class="overlay">
          <h4>Time Tracker App</h4>
          <p>Flutter • NodeJs • Mariadb</p>
        </div>
      </div>
  
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/images/portfolio 3.jpeg" alt="Note-taker Dashboard" />
        </div>
        <div class="overlay">
          <h4>Note Taker - TO DO List</h4>
          <p>Java • Servlet • MySQL</p>
        </div>
      </div>
  
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/images/portfolio 4.jpeg" alt="Netflix" />
        </div>
        <div class="overlay">
          <h4>Netflix Clone</h4>
          <p>HTML • CSS</p>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/images/portfolio 5.jpeg" alt="cabinkashi" />
        </div>
        <div class="overlay">
          <h4>Cab In Kashi</h4>
          <p>HTML • CSS • Typescript</p>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/images/portfolio 6.jpeg" alt="khushi Taxi" />
        </div>
        <div class="overlay">
          <h4>BanarasExpress cabs</h4>
          <p>HTML • CSS • JS </p>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/images/portfolio 7.jpeg" alt="Creative Portfolio" />
        </div>
        <div class="overlay">
          <h4>Personal Portfolio Old</h4>
          <p>HTML • CSS • JS</p>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/images/portfolio 8.jpeg" alt="Fitness Dashbord APP" />
        </div>
        <div class="overlay">
          <h4>Fitness Dashboard APP</h4>
          <p>Flutter</p>
        </div>
      </div>
    </div>
  </section>
  