<section class="hero">
  <div class="overlay">
    <div class="content">
      <h1><span>HARSH</span> MODANWAL</h1>
      <p>Technical Consultant</p>
      <div class="buttons">
        <a href="#resume" class="btn btn-outline">Resume</a>
        <a href="#portfolio" class="btn btn-outline">Portfolio</a>
      </div>

    </div>
    <div class="social">
      <a href="https://github.com/harsh27022002" target="_blank" aria-label="GitHub">
        <i class="bi bi-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/harshmodanwal/" target="_blank" aria-label="LinkedIn">
        <i class="bi bi-linkedin"></i>
      </a>

      <a href="mailto:harshmodanawal@gmail.com" aria-label="Email">
        <i class="bi bi-envelope"></i>
      </a>

      <a href="https://www.instagram.com/_harshh_2.0/" target="_blank" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>

      <a href="https://x.com/harshmzp2702" target="_blank" aria-label="Twitter / X">
        <i class="bi bi-twitter-x"></i>
      </a>

      <a href="https://wa.me/918127543191" target="_blank" aria-label="WhatsApp">
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>

  </div>
</section>